h1{
    font-weight: 800;
    font-size: 4rem
;
}

p{
    font-weight: 500;
    font-size: 2em;
}

.container{
    text-align: center;
    margin: 4em auto;
    border: solid 2px black;
    padding: 4em;
}